body, .container-fluid {
    height:100vh;
}

.card {
    width: 375px;
    height:50%
}

.card-header {
    width: 375px;
}

#mainTxt, #numberCol, #symbolCol {
    height:215px;
}

#mainTxt {
    padding: 0px;
}

p {
    padding-left: 0px;
}





